body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  background-color: rgb(5, 173, 162);
  color: black;
}

.title {
  background-color: rgb(5, 173, 162);
  color: black;
  text-align: center;
  width: 100%;
  margin: auto;
}

.text {
  text-align: center;
  margin-top: 10px;
}

.description {
  text-align: center;
}

.container {
  width: 50%;
  margin: auto;
  background-color: white;
  color: black;
  padding: 15px;
  box-shadow: 0px -2px 15px 8px rgba(0, 0, 0, 0.404);
}

.survey-form {
  text-align: center;
}

.row-tab {
  display: block;
  padding-bottom: 20px;
}

.label-tab {
  display: inline-block;
  width: 44%;
  text-align: right;
  vertical-align: top;
}

.input-tab {
  display: inline-block;
  width: 54%;
  text-align: left;
}

.select-tab {
  display: inline-block;
  width: 54%;
  text-align: left;
}

.select-box {
  padding: 5px 0px;
}
